<h1 class="animated fadeIn fast">Sobre Comic App</h1>
<hr>
<p class="animated fadeIn text-justify">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad, alias? Aut non laboriosam adipisci, vitae impedit harum at amet, vero mollitia culpa inventore quibusdam. Nobis eaque ab assumenda quisquam necessitatibus. Corrupti, a quibusdam, aliquam rerum
    minima recusandae culpa veritatis ab sapiente ea eaque quisquam nemo ad blanditiis quo? Iure possimus expedita illo minima sed. Nisi nostrum necessitatibus blanditiis expedita officiis! Hic, numquam! Vel cum eos nesciunt quo quae unde temporibus labore
    hic, explicabo dolores omnis illum iure officia nostrum at consequuntur nam dicta consequatur quam. Ipsa vitae doloremque nisi maxime!</p>